:root {
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: hsl(224, 23%, 55%); */
  /* max-width: fit-content; */
}

body{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  background-image: url('./pattern-background-mobile.svg');
  background-repeat: no-repeat;
}

@media (min-width: 780px){
  body{
    background: url("./pattern-background-desktop.svg") no-repeat, hsl(224, 23%, 94%);
    background-size: contain;
  }
}
