:root {
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
  display: relative;
  place-items: center;
  align-items: center;
  justify-content: center;
  background-color: hsl(225, 100%, 94%);
}

body{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}